doctype html
html
  head
    meta(charset='utf-8')
  include module/top
  body(class ="container")
    h2 VIEW

    table(class='well')
      tr
        td(style='width:50px')
          b No#{board.board_no}
        td(style='width:400px')
          b
            제목 #{board.board_title}
        td
          b
            작성일 #{board.board_date}
      tr
        td(colspan='3')
          b
            작성자 #{board.board_user}
    table
      tr
        td
          div(style='width:600px;height:300px')=board.board_content
      tr
        td(class="text-center")
          span
            a(href='/board/modify?boardNo=#{board.board_no}' class="btn btn-primary")수정
          &nbsp;
          span
            a(href='/board/remove?boardNo=#{board.board_no}' class="btn btn-warning")삭제
    br
    br
    br
